.cnt {
  text-align: center;
  justify-content: center;
  background-color: #fcfcfc;
  margin: auto auto;
  width: 500px;
  height: 2000px;
}

.Navbar{
  display: flex;
  justify-content: space-between;
  padding: 20px ;
  background-color: rgb(37, 118, 223);
  align-items: center;
}

.MyApp{
  font-size: 20px;
  font-family: Calibri;
  color: white;
}

.content {
  background-color: rgb(229, 204, 204);
  border-style: solid;
  justify-content:space-between;
  display: flex;
  flex-direction: row;
  align-items: center;
  padding: 20px;
}

.search{
  text-align: left;
  padding: 10px;
}

.secondNavbar{
justify-content: center;
}
